<h1>Bonjour ! Pouvez vous confirmez votre email !</h1>

<p>
    S'il vous plait, confirmez votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmation de l'Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée à vous !
</p>
