<form method="post" action="{{ path('card_delete', {'id': card.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette carte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card.id) }}">
    <button class="btn btn-danger fs-5"><i class="bi bi-trash-fill"></i></button>
</form>