@import 'variable.scss';

.avatar{
    width: 10rem;
    height: 10rem;
}

.pseudo{
    color: $light;
}

.edit{
    color: $light;
}

.edit:hover{
    color: $secondary;
}

.back{
    background-color: $navbar-dark-color;
}

.jace{
    background-color: #C5925B;
}

.img{
    width: 29rem;
    height: 40rem;
}

.height{
    height: 100vh;
}