@import 'variable.scss';

.header {
    height: 100vh;
    background-image:url('/assets/images/accueil.jpg');
    background-attachment: fixed;
    background-position: center;
}

.title-header{
    font-size:clamp(3rem, 5vw, 5rem);
    color:$light;
    font-weight: 700;
}