@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

$primary:#796A52 ;
$secondary:#7D9292;
$dark:black;
$light:#F6F6F6;
$navbar-dark-color:#4978df8e;

$title-font:'Berkshire Swash';
$text-font:'Macondo';