<nav class="navbar sticky-top navbar-expand-md navbar-light bg-primary">
	<div class="container-fluid d-flex justify-content-start align-items-center">
		<div class="my-2 w-25 d-none d-md-block">
			<img src="{{ asset('build/images/logo.png') }}" class="logo-nav" alt="Logo">
		</div>
		<div class="w-25 d-block d-md-none">
			<img src="{{ asset('build/images/responsiveLogo.png') }}" class="logo-resp" alt="Logo">
		</div>
		<button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNavAltMarkup">
			<div class="navbar-nav gap-2 my-3 justify-content-center align-items-center">
				<a class="nav-item nav-link text-secondary px-md-4 fs-4" href="/">Accueil</a>
				<a class="nav-item nav-link text-secondary px-md-4 fs-4" href="#">Contact</a>
				<a class="nav-item nav-link text-secondary px-md-4 fs-4" href="#">Le monde</a>
				<a class="nav-item fs-4 text-secondary px-md-4 nav-link" href="#">Mes packs</a>
				<a class="nav-item fs-4 text-secondary px-md-4 nav-link" href="#">Ma collection</a>
				<a class="nav-item nav-link text-secondary px-md-4 fs-4" href="#">Connexion</a>
				<a class="nav-item nav-link text-secondary px-md-4 fs-4" href="#">Inscription</a>
			</div>
		</div>
	</div>
</nav>
